Repository audrius-savickas/se-wasted-app, pull requests merged in 2021-11, with the labels that each got.

#172 Price decrease
  backend/ConsoleApp/Program.cs
  backend/Contracts/DTOs/FoodResponse.cs
  backend/Domain/Entities/Food.cs
  backend/Domain/Entities/ListOfFood.cs
  backend/Persistence/DB/Data/Test/Foods.json
  backend/Persistence/DB/Data/Test/Restaurants.json
  backend/Services/Services/FoodService.cs
  backend/WebApi/Controllers/FoodController.cs
  backend/WebApi/Controllers/RestaurantController.cs
Labels: backend

#174 Restaurant foodscreen
  frontend/wasted-app/ios/Podfile.lock
  frontend/wasted-app/src/screens/restaurant-login/restaurant-login.tsx
  frontend/wasted-app/src/screens/restaurant/food/food.tsx
  frontend/wasted-app/src/screens/restaurant/food/interfaces.ts
  frontend/wasted-app/src/screens/restaurant/profile/profile.tsx
  frontend/wasted-app/src/screens/user/restaurants/food-list/food-list.tsx
  frontend/wasted-app/src/services/navigation.ts
Labels: frontend

#183 Restaurant profile
  backend/WebApi/Controllers/RestaurantController.cs
  frontend/wasted-app/src/api/interfaces.ts
  frontend/wasted-app/src/api/restaurant.ts
  frontend/wasted-app/src/screens/restaurant-login/restaurant-login.tsx
  frontend/wasted-app/src/screens/restaurant/profile/interfaces.ts
  frontend/wasted-app/src/screens/restaurant/profile/profile.tsx
Labels: frontend

#195 Restaurant description
  backend/Contracts/DTOs/RestaurantDto.cs
  backend/Contracts/DTOs/RestaurantRegisterRequest.cs
  backend/Domain/Entities/Restaurant.cs
  backend/Persistence/DB/Data/Test/Restaurants.json
  backend/Services/Services/RestaurantService.cs
  backend/WebApi/Controllers/RestaurantController.cs
Labels: backend

#194 Send email
  backend/ConsoleApp/ConsoleApp.csproj
  backend/ConsoleApp/Program.cs
  backend/README.md
  backend/Services/Interfaces/IEmailService.cs
  backend/Services/Interfaces/IRestaurantService.cs
  backend/Services/Options/EmailOptions.cs
  backend/Services/Services.csproj
  backend/Services/Services/EmailService.cs
  backend/Services/Services/RestaurantService.cs
  backend/WebApi/Controllers/RestaurantController.cs
  backend/WebApi/Startup.cs
  backend/WebApi/WebApi.csproj
Labels: backend

#196 Refactor and implement requirements
  Requirements.md
  backend/ConsoleApp/Program.cs
  backend/Contracts/DTOs/FoodResponse.cs
  backend/Contracts/DTOs/RestaurantDto.cs
  backend/Contracts/DTOs/RestaurantRegisterRequest.cs
  backend/Domain/Entities/BaseEntity.cs
  backend/Domain/Entities/Coords.cs
  backend/Domain/Entities/Credentials.cs
  backend/Domain/Entities/ListOfFood.cs
  backend/Domain/Entities/Mail.cs
  backend/Domain/Entities/Password.cs
  backend/Domain/Entities/TypeOfFood.cs
  backend/Domain/Helpers/PasswordHasher.cs
  backend/Persistence/Interfaces/IBaseRepository.cs
  backend/Persistence/Repositories/BaseRepository.cs
  backend/Services/Interfaces/IAuthService.cs
  backend/Services/Interfaces/IFoodService.cs
  backend/Services/Interfaces/IRestaurantService.cs
  backend/Services/Interfaces/ITypeOfFoodService.cs
  backend/Services/Services/FoodService.cs
  backend/Services/Services/RestaurantService.cs
  backend/Services/Services/TypeOfFoodService.cs
  backend/Services/Utils/IdGenerator.cs
  backend/WebApi/Controllers/FoodController.cs
  backend/WebApi/Controllers/RestaurantController.cs
  backend/WebApi/Helpers/InputValidator.cs
  backend/WebApi/Startup.cs
Labels: requirement, backend

#198 User food list
  frontend/wasted-app/assets/low-price.png
  frontend/wasted-app/src/api/restaurant.ts
  frontend/wasted-app/src/components/food-item/food-item.tsx
  frontend/wasted-app/src/components/foods-list/foods-list.tsx
  frontend/wasted-app/src/components/simple-food-item/index.ts
  frontend/wasted-app/src/components/simple-food-item/interfaces.ts
  frontend/wasted-app/src/components/simple-food-item/simple-food-item.tsx
  frontend/wasted-app/src/components/simple-foods-list/index.ts
  frontend/wasted-app/src/components/simple-foods-list/interfaces.ts
  frontend/wasted-app/src/components/simple-foods-list/simple-foods-list.tsx
  frontend/wasted-app/src/screens/food-info/food-info.tsx
  frontend/wasted-app/src/screens/user/food/food.tsx
  frontend/wasted-app/src/screens/user/restaurants/food-list/food-list.tsx
  frontend/wasted-app/src/screens/user/restaurants/restaurants.tsx
  frontend/wasted-app/src/services/navigation.ts
Labels: frontend

#201 Restaurant info improvements
  frontend/wasted-app/src/api/interfaces.ts
  frontend/wasted-app/src/components/empty-list/empty-list.tsx
  frontend/wasted-app/src/components/empty-list/index.ts
  frontend/wasted-app/src/components/empty-list/interfaces.ts
  frontend/wasted-app/src/components/restaurant-item/restaurant-item.tsx
  frontend/wasted-app/src/components/restaurants-list/restaurants-list.tsx
  frontend/wasted-app/src/components/sections/near-restaurants/interfaces.ts
  frontend/wasted-app/src/components/sections/near-restaurants/near-restaurants.tsx
  frontend/wasted-app/src/components/sections/popular-restaurants/interfaces.ts
  frontend/wasted-app/src/components/sections/popular-restaurants/popular-restaurants.tsx
  frontend/wasted-app/src/screens/restaurant-info/restaurant-info.tsx
  frontend/wasted-app/src/screens/user/home/home.tsx
  frontend/wasted-app/src/screens/user/restaurants/food-list/food-list.tsx
  frontend/wasted-app/src/screens/user/restaurants/restaurants.tsx
Labels: frontend

#204 Restaurant login
  frontend/wasted-app/assets/view.png
  frontend/wasted-app/src/api/interfaces.ts
  frontend/wasted-app/src/api/restaurant.ts
  frontend/wasted-app/src/components/password-input/index.ts
  frontend/wasted-app/src/components/password-input/interfaces.ts
  frontend/wasted-app/src/components/password-input/password-input.tsx
  frontend/wasted-app/src/screens/restaurant-login/restaurant-login.tsx
  frontend/wasted-app/src/screens/restaurant/food/food.tsx
  frontend/wasted-app/src/screens/restaurant/food/interfaces.ts
  frontend/wasted-app/src/screens/restaurant/profile/profile.tsx
  frontend/wasted-app/src/screens/user/food/food.tsx
  frontend/wasted-app/src/screens/user/restaurants/food-list/food-list.tsx
  frontend/wasted-app/src/screens/user/restaurants/food-list/interfaces.ts
  frontend/wasted-app/src/screens/user/restaurants/restaurants.tsx
  frontend/wasted-app/src/services/navigation.ts
  frontend/wasted-app/src/utils/credentials.ts
Labels: frontend

#206 Restaurant registration
  backend/WebApi/package-lock.json
  frontend/wasted-app/.gitignore
  frontend/wasted-app/credentials.ts
  frontend/wasted-app/index.js
  frontend/wasted-app/package-lock.json
  frontend/wasted-app/package.json
  frontend/wasted-app/src/api/interfaces.ts
  frontend/wasted-app/src/api/restaurant.ts
  frontend/wasted-app/src/components/password-input/interfaces.ts
  frontend/wasted-app/src/components/password-input/password-input.tsx
  frontend/wasted-app/src/screens/restaurant-login/restaurant-login.tsx
  frontend/wasted-app/src/screens/restaurant-login/restaurant-registration/restaurant-registration.tsx
Labels: frontend

#223 Mapview integration
  frontend/wasted-app/android/app/src/main/AndroidManifest.xml
  frontend/wasted-app/ios/Podfile
  frontend/wasted-app/ios/Podfile.lock
  frontend/wasted-app/ios/wastedapp.xcodeproj/project.pbxproj
  frontend/wasted-app/ios/wastedapp/AppDelegate.m
  frontend/wasted-app/package-lock.json
  frontend/wasted-app/package.json
  frontend/wasted-app/src/components/foods-list/foods-list.tsx
  frontend/wasted-app/src/components/map/index.ts
  frontend/wasted-app/src/components/map/interfaces.ts
  frontend/wasted-app/src/components/map/map.tsx
  frontend/wasted-app/src/components/sections/cheapest-food/cheapest-food.tsx
  frontend/wasted-app/src/components/sections/latest-food/latest-food.tsx
  frontend/wasted-app/src/hooks/use-previous.ts
  frontend/wasted-app/src/screens/food-info/food-info.tsx
  frontend/wasted-app/src/screens/restaurant-info/restaurant-info.tsx
  frontend/wasted-app/src/screens/restaurant-login/restaurant-registration/restaurant-registration.tsx
  frontend/wasted-app/src/screens/restaurant/addFood/addFood.tsx
  frontend/wasted-app/src/services/navigation.ts
Labels: frontend

#227 Redux setup
  frontend/wasted-app/index.js
  frontend/wasted-app/package-lock.json
  frontend/wasted-app/package.json
  frontend/wasted-app/src/actions/location.ts
  frontend/wasted-app/src/actions/restaurant.ts
  frontend/wasted-app/src/hooks/location.ts
  frontend/wasted-app/src/reducers/index.ts
  frontend/wasted-app/src/reducers/location.ts
  frontend/wasted-app/src/reducers/restaurant.ts
  frontend/wasted-app/src/screens.tsx
  frontend/wasted-app/src/screens/user/home/home.tsx
  frontend/wasted-app/src/selectors/location.ts
  frontend/wasted-app/src/selectors/restaurant.ts
  frontend/wasted-app/src/store/index.ts
  frontend/wasted-app/src/typings/redux.ts
Labels: frontend
